<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Conectar</servlet-name>
        <servlet-class>Conexion.Conectar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCitas</servlet-name>
        <servlet-class>Controlador.GestionCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionHistorial</servlet-name>
        <servlet-class>Controlador.GestionHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FUsuarios</servlet-name>
        <servlet-class>Facade.FUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FCitas</servlet-name>
        <servlet-class>Facade.FCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>Controlador.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FHistorial</servlet-name>
        <servlet-class>Facade.FHistorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conectar</servlet-name>
        <url-pattern>/Conectar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCitas</servlet-name>
        <url-pattern>/GestionCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionHistorial</servlet-name>
        <url-pattern>/GestionHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FUsuarios</servlet-name>
        <url-pattern>/FUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FCitas</servlet-name>
        <url-pattern>/FCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FHistorial</servlet-name>
        <url-pattern>/FHistorial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
