body{
    width:1200px;
    margin:auto;
}

.bordes{
    border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    border: 0px solid #000000;
}
.logo{
    width: 1200px;
    height: 200px;
    margin-bottom: -40px;
}
.menu{
    width: 1200px;
    height: 50px;
      background-color: #46b8da;
    border-color: #252525;
    border-radius: 2px;
}

#submenu {
    width: 110px;
    text-align: left;
    list-style: none;
    font-size: 20px;
    margin-top: 3px;
    height: 30px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

.contenido{
    width:1200px;
    height:auto;
    display: inline-block;
    box-shadow: 0px 0px 30px #aaa;    
    margin-top: 3px;
}

.titulo{
    padding-left: 285px;
    background-color: azure;
    font-family: fantasy;
    color: #23238E;
    font-size: 28px; 
}

.sonrisa{
    width: 300px;
    height: 289px;
    float: left;

}
.images{
    float: right;
    width: 300px;
    height: 300;
    padding-top: 30px;
}
.dientes{
    width: 311px;
    height: 295px;
    margin-left: 15px;

}

.buscador{
    width: 250px;
    height: 29px;
    float: right;
    margin-top:9px;
}

.buscador input[type='text']{ /*estilo del buscador*/
    border-radius: 5px;
    border: 1px solid #6aacda;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
    height: 23px;
}
.buscador input[type='submit']{/*estilo del nombre buscar del buscador*/
    border-radius: 5px;
    background: #191970;
    color: white;
    border: 1px;
    height: 22px;
    margin-top: 3px;
}
.menucoreer{
    margin-left: 63px;
}

/* css para el menu principal*/
ul li {
    width: 120px;
    float: left;
    text-align: center;
    list-style: none;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 17px;

}
ul li a{
    color: white;
  text-decoration: none;
   margin-left: -110px; 
  margin-top: 20px; 
  display: block; 
   font-weight: bold; 
}
ul li a:hover{
    color:  #FFF ;
    text-decoration: none;
}
/* clase submenu del menu de los lados derechos*/
ul#submenu li {
    width: 139px;
    float: left;
    text-align: center;
    list-style: none;
    font-size: 16px;
    margin-top: 32px;
    padding-bottom: 25px;
    font-weight: bold;
}
ul#submenu li a{

    text-decoration: none;
}

ul#submenu li a:hover{
    color: #154495;
    text-decoration: none;
}
/* clase submenu del menu principal de arriba*/
.submenu{
    position: absolute;
    display:none;
    z-index: 999;
    font-size: 8px;
    margin-left: -40px;
    margin-top: 16px;
}

.submenu li{
    float: none;
    /*border-left: 1px solid #A79E9E;
    border-right: 1px solid #A79E9E;*/
    border-bottom: 1px solid #A79E9E;
    background: #0A2C5F;
    color: white;
    border-radius: 2px;
    height: 30px;
    margin-top: 0px;
}
li:hover .submenu{
    display: block;
}

.menu22 {
  margin-top: -2px;
  width: 212px;
  height: auto;
  border-radius: 0px 2px 2px 0px;
  padding: 20px 0px 40px;
  min-height: 641px;
  font-size: 200%;
  float: left;
  margin-right: 4px;
  background: #5F9EA0;}
#ul2{
    width: 110px;
    text-align: left;
    list-style: none;
    font-size: 20px;
    margin-top: 3px;
}
#ul2 li{
    height: 30px;
    font-size: 15px;
    text-align: left;
}
.menu2{
    margin-top: -2px;    
    width: 212px;
    height: auto;
    border-radius: 0px 2px 2px 0px;
    padding: 20px 0px 40px;
      min-height: 639px;
    font-size: 200%;
    float: left;
    margin-right: 4px;
     background: #5F9EA0;
    
   
}

.menu2-citas{

}
.menu2-perfil {
    height: 440px;
}

.mesa{
    width: 983px;
    height: auto;
    float: left;
    border-radius: 2px;

    border-top: none;
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); 
}
.mesa-overflow{
    max-height: 629px;
    overflow: auto;
}

.mesa-session{
    width: 1196px !important;
}
.lado1{
    display: inline-block;
    width: 511px;
    height: auto;
    float: left;
    border-radius: 2px 0px 0px 2px;
    margin-left: -5px;
}
.lado9{
    display: inline-block;
    width: 422px;
    height: auto;
    float: left;
    border-radius: 2px 0px 0px 2px;
    margin-left: -18px;


}
.lado5{
    display: inline-block;
    width: 422px;
    height: auto;
    float: left;
    border-radius: 2px 0px 0px 2px;
    margin-left: 4px;
    padding-top: 100px;

}

.lado1-historial{
    width: 400px;
    text-align: center;
}
.lado1-agenda{
    width: 900px;
    height: auto;
    text-align: center;
}
.lado2{	
    padding-left: -1px;
    width: 422px;
    height: auto;
    float: left;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 21px;
    margin-right: 21px;
    color: black;
}
.doble{
    width: auto;
    height: auto;
    display: inline-block;/* se le coloca para que los div internos se puedan alinear a la izquierda*/
    margin-left: 15px;
}

.alinea{
    float: left;/* hacemos que el div que contenga esta clase se alinea a la izquierda*/
    margin: 5px;
    box-shadow: #999;
    border-radius: 6px;
    background-color:#CCC

}
.input.boton{
    border-radius: -3px;
    border: 1px solid 	#A9A9A9;
    width: 92px;
    height: 26px


}


label{
    text-align: left;
}
h1{
    font-family: angelina;	
    color: #0033FF;
    text-align: center;

}
h1.h1-session{
    text-align: center;
    color: #00009C;
    margin: 1px 0px;
    font-family: angelina;
    background: none;
}
h2{
    font-family: angelina;
    text-align: center;
    color:#00009C;
    font-size: 29px;

}
h3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color:#00009C;
}
.contacto{
    width: 300px;
    box-shadow: 0px 0px #FFF;
    border-radius: 5px;
    border-color: #FFF;
    -webkit-box-shadow: 0px 0px #FFF;
    float: left;
    margin-left:150px;


}
#Accordion1{
    max-width: 700px;
    text-align: justify;
    padding-left:40px;

}


.Linkes {
    list-style-type: none;
    float: right;
    height: 100px;
    width: 200px;
    border-color: #00F;
    box-shadow: 1px 1px 1px 1px #06F;
    margin-right: 80px;
    margin-top: 100px;
    border-radius: 7px;
    background-color:  #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); 
    text-align: center;
}
.Linkes li  a  {
    text-decoration: none;
    list-style-type: none;
}


.contacto{
    border: #CCCCCC;
    border-radius: 5px;

}

.sitio {
    margin: 10px;
    padding: 20px;
    float: left;
    height: auto;
    width: 500px;
    margin-left: 48px;
}
.referencias {
    margin: 10px;
    padding: 83px;
    float: right;
    width: 400px;
}

.dibujo{
    float: right;
    border-radius: 14px 14px 14px 14px;
    padding-right: 14px;
    margin-top: 48px;
}
.printer{
    background: #527F76;
    border-radius: 5px;
    width: 109px;
    height: 32px;
    color: white;
    margin-left: 33px;
    margin-top: 14px;
}
.ui-draggable-handle{
    background: #6aacda;
    border: 1px solid #6aacda;
}
table{
    margin: auto;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 3px;
}
table,th,td
{

    border-collapse:collapse;
    padding: 16px;
    margin-left: 34px;
}
.moverlo{
    margin-left: 319px;
    margin-top: 2px;
}
table.Tdientes,
.Tdientes th,
.Tdientes td {
    border: none;
    border-collapse:collapse;
    padding: 11px; 
    padding-left:3px;
}
table thead tr{
    background: #555555;
    color: #ffffff;
}

.table-agenda thead tr {
    background: #8C1717;
    color: #ffffff;
}
table.table-agenda,.table-agenda th,.table-agenda td{
    padding: 1px;
}
/* - formulario - */
form input {
    height: 35px;
    width: 209px;
    color: #000;
    text-align: center;
    font-family: "Roboto",sans-serif;
    margin-left: 105px;
    box-shadow: 1px 1px 5px #D8D8BF ;
}
form.form-format1 input {

}
.fieldset1 {


    -webkit-box-shadow: 8px 8px 6px #330066;
    -moz-box-shadow: 8px 8px 6px #CDCDCD ;
    box-shadow: 8px 8px 6px #CDCDCD ;
    background-color: #3399CC  ;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #0B173B;

}
.legend1 {
    text-align:center;
    font-weight:bold;
    font-size:18pt;
    color:#B4045F;
    text-shadow: 0px 0px 10px #BA55D3;
}
select {
    padding: 0px 10px;

/*
    height: 35px;
    width: 209px;*/
    color: #000;
    text-align: center;
    font-family: "Roboto",sans-serif;
    margin-left: 105px;
    box-shadow: 1px 1px 5px #D8D8BF ;

}
select option{
    color: black;
}
select.hora{
    width: 94px;
    margin-left: 4px;
}
textarea {
    height: 102px;
    width: auto;
    margin-left: 44px;
}
form input#fechacita{
    width: 111px;
}

form h1,form h2{
    text-align: center;
    color: #00009C;
    margin: 23px 0px;
    font-family: angelina;
}
table.table{
    background: red;
    border: 1px solid F0EDED;
}

form label{

    font-family: 'Roboto Slab', serif;	
    font-size: 14px;
    text-align: left; 
}
div .formulario {
    margin: 1.4em 0;
}
form.formlogin{
    background: #C0D9D9;
    width: 344px;
    box-shadow: -1px 0px 5px #aaa;
    border-radius: 5px;
    margin-top: 41px;
    padding-top: 10px;
}

input.mover{
    margin-left: 77px;
}
div .formularrioodonto {
    margin: 1.4em 0;
}
div .formularrioodonto label {
    width: 27%;
    float: left;
    margin-left: 100px !important;
    font-weight: bold;
}

div .formularrioodonto label.error{
    width: 100%;
    color: red;
    font-size: 12;
    margin: 5px 0px 5px 30px;
}
div .formularrioodonto label.ayuda{
    width: auto;
    margin-bottom: 10px;
}
.formulario-session{
    width: 353px;
    margin: auto;
}

div .formulario label {
    width: 36%;
    float: left;
}
div .formulario label.error{
    width: 100%;
    color: #C00;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0px 5px 105px;
}
.form-gris{
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(59,103,158,1) 26%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 60%, rgba(125,185,232,1) 85%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(60%,rgba(32,124,202,1)), color-stop(85%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(59,103,158,1) 26%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 60%,rgba(125,185,232,1) 85%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(59,103,158,1) 26%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 60%,rgba(125,185,232,1) 85%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(59,103,158,1) 26%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 60%,rgba(125,185,232,1) 85%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(59,103,158,1) 26%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 60%,rgba(125,185,232,1) 85%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    margin-top: 135px;
    padding-right: 36px;
    padding-top: 10px;
    box-shadow: -1px 0px 5px #aaa;
}
.lado3 {
    display: inline-block;
    width: 422px;
    height: auto;
    float: left;
    padding-top: 31px;
    border-radius: 2px 0px 0px 2px;
    margin-left: 4px;
}

.lado4{	
    padding-left: 79px;
    width: 422px;
    height: auto;
    float: left;
    padding-top: 84px;
}
.formulario form {
    width: 279px;
    box-shadow: -1px 0px 5px #aaa;
    padding-left: 20px;
    margin-top: 164px;
    margin-left: 98px;
}
div .Genero {
    margin: 0.4em 0;
}
div .Genero label {
    width: 42%;
    float: left;
}
div .Genero{
    width: 69px;
    text-align: center;
    float: left;
}
.vector{
    padding-left: 9px;
    color: #154495;
    text-decoration: none;
}
input[type="radio"]{
    width: 69px;
    height: 21px;
}
label.InputRequired::after {
    content:"*";
    color:#FF0000;
    margin-top:30px;
}
.boton{
    width: 168px;
    height: 49px;
    margin-top: 21px;
    margin-right: 0px;
    margin-bottom: 4px;
    /*border: 1px solid #232323;*/
    box-shadow: 1px 1px 5px #00008B;
    border-radius: 3px;
    margin-left: 436px !important;   
    font-weight: bold;
/*     background: #a7cfdf;  Old browsers 
    background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, #a7cfdf 0%,#23538a 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top, #a7cfdf 0%,#23538a 100%);  IE10+ 
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); */
   


}
.boton:hover{
/*    background: #BCD1F0;*/
}
.avatar{
    margin-left:102px;
}